:root {
    --typing-glow-duration: 0.375s;
}

@keyframes cursorGlow {
    0%, 20% {
        color: #ffffff;
        text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 14px #0fa,
        0 0 20px #0fa;
    }
    100% {
        color: inherit;
        text-shadow: none;
    }
}

@keyframes characterGlow {
    0%, 20% {
        color: #ffffff;
        text-shadow: 0 0 7px #fff,
        0 0 2px #fff,
        0 0 6px #0fa,
        0 0 12px #0fa;
    }
    100% {
        color: inherit;
        text-shadow: none;
    }
}

.typing-glow .messageContent-2t3eCI{
    display: inline-block;
    animation: characterGlow var(--typing-glow-duration / 2) ease-in-out forwards;
}

.letter {
    opacity: 0;
    animation: fadeIn 0.12s steps(1) forwards;
}


.cursor {
    content: "";
    display: inline-block;
    width: .6ch;
    height: 1em;
    background: currentColor;
    margin-left: 1px;
    animation: cursorGlow var(--typing-glow-duration) ease-in-out forwards;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
